%h1= @practice_area.name
%h2 Overview
%p= @practice_area.overview
%h3 Practicing attorneys:
%ul
  - @practice_area.practicing_attorneys.each do |attorney|
    %li= link_to attorney, attorney_path(attorney)
